.movies-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: white;
}
.main-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding-top: 90px;
}
.Side-bar {
  width: 225px;
  height: 1806px;
  border-radius: 8px;
  background-color: #1f2937;
  padding: 10px;
  flex-shrink: 0;
}
.popular-sidebar {
  width: 300px;
  flex-shrink: 0;
  background-color: #1f2937;
  border-radius: 8px;
  padding: 10px;
}
.popular-movie-list {
  width: 224px;
  display: flex;
  gap: 10px;
  padding: 5px;
}
.popular-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.pop-h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  padding: 10px;
}

.popular-poster {
  width: 64px;
  height: 96px;
  border-radius: 6px;
}

.pop-date {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #9ca3af;
  padding: 0px;
}
.pop-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 20.8px;
  color: #ffffff;
}
.movie-list {
  display: grid;
  grid-template-columns: repeat(4, 166px);
  gap: 20px;
  flex: 1;
  min-width: 0;
  grid-auto-columns: 166px;
  overflow: hidden;
  grid-auto-flow: dense;
}
.movie-card {
  background-color: #1f2937;
  border-radius: 8px;
  overflow: hidden;
  height: 342px;
}
.movie-poster {
  width: 166px;
  height: 250px;
  object-fit: cover;
}
.movie-info {
  padding: 10px;
}
.movie-info h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #d1d5db;
  -height: calc(28px * 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.movie-info p {
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #9ca3af;
  display: block;
  margin-top: 4px;
}
.Side-bar h3 {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}
.Type {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #d1d5db;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  border-bottom: 2px solid white;
}
.one p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  display: inline;
}
.two p {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  display: inline;
}
.year {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}
.year h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #d1d5db;
  align-self: flex-start;
}

.Year-select {
  background-color: #d9d9d9;
  width: 176px;
  height: 37px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}
.sort {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}
.SortBy {
  background-color: #d9d9d9;
  width: 176px;
  height: 37px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}
.sort h4 {
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #d1d5db;
  align-self: flex-start;
}
.apply-btn {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  background: none;
  border: none;
  color: #ffffff;
  justify-self: center;
  align-self: center;
  display: flex;
  padding: 15px;
}
