.site-footer {
  background-color: #020617;
  width: 100%;
  padding: 2rem 0;
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.site-footer a {
  padding: 10px;
  color: #9ca3af;
  text-decoration: none;
  border-bottom: none;
}

.site-footer a:hover {
  color: #ffffff;
}

.site-footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
